#div1{
    height: 200px;
    border: 2px double ;
    width: 100px;
    margin: 10px 30px 30px 50px ;
    background-color: white;
}
#div2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid;
    margin-top: 5px;
    margin-left: 22%;
    background-color: red;
}
#div3{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid;
    margin-top: 10px;
    margin-left: 22%;
    background-color: yellow;
}
#div4{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid;
    margin-top: 10px;
    margin-left: 22%;
    background-color:green;
}